/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    background-color: #f4f7f9;
}
.login-form input::placeholder{
    color: grey;
    opacity: 0.5;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 480px;
    margin: 14px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
}
.login-form input {
    width: 350px;
    height: 30px;
    border-radius: 6px;
    margin-top: 5px;
    padding-left: 20px;
}
.logo {
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    width: 150px;
    height: 150px;
}
.password {
    display: flex;
    justify-content: end;
}
.password a {
    color: #1f4f76;
    text-decoration: none;
    font-size: 14px;
}
.hr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hr .line {
    color: grey;
    height: 2px;
    width: 172px;
    border: 1px solid grey;
    margin-top: 3px;
}
.login-form button {
    padding: 6px 9.6rem;
    color: #ffffff;
    background-color: #1f4f76;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 33px;
    margin-bottom: 15px;
}
.google{
    margin: 30px 10px;
}
.google a {
    padding: 6px 4.5rem;
    color: black;
    background-color: #ffffff;
    border: 1px solid #1f4f76;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
}
.google a i {
    margin-right: 30px;
}
.login-form .para {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    color: grey;
}
.login-form .para a{
    color: #1f4f76;
    text-decoration: none;
}
 */
