* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f4f7f9;
    padding: 20px;
    text-align: center;
}
header img {
    width: 250px;
    height: 250px;
}
header p{
    font-size: 15px;
    color: #101828;
    padding: 10px 0;
}
header h1{
    font-size: 50px;
    color: #101828;
}
header .get {
    padding: 10px 26px;
    color: #ffffff;
    background-color: #efb45b;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 19px;
}
header .sign {
    padding: 10px 28px;
    background-color: #1f4f76;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 19px;
}

/*=============================(choose)===================*/
.choose{
    padding: 2rem 0;
    text-align: center;
    background-color: #ffffff;
}
.search{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 40px;
    padding: 1.5rem;
    line-height: 2;
}
.choose h1{
    font-size: 40px;
    color: #101828;
}
.search1 i {
    background: linear-gradient(135deg, rgba(31, 79, 118, 0.15) 0%, rgba(239, 180, 91, 0.2) 100%);
    height: 50px;
    width: 50px;
    padding: 14px;
    border-radius: 50%;
    color: #1f4f76;
    font-size: 22px;
} 
.search1 h2{
    font-size: 27px;
    color: #101828;
    font-weight: bold
}
.search1 p{
    color: #101828;
    font-size: 14px;
}

/*=============================(find)===================*/
.find{
    padding: 2rem 0;
    background-color: #f4f7f9;
    text-align: center;
    line-height: 2;
    color: #101828;
}
.find i{
    color: #1f4f76;
    font-size: 40px;
}
.find button{
    padding: 15px 25px;
    color: #ffffff;
    border: none;
    background-color: #1f4f76;
    border-radius: 5px;
    font-size: 15px;
}
.find h1{
    font-size: 40px;
}
.find p{
    font-size: 15px;
    padding: 10px 0;
}
footer{
    text-align: center;
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px 0;
}
footer img {
    width: 250px;
    height: 250px;
}