* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Sora", sans-serif;
}
p{
    font-family: "Manrope", sans-serif;
}
header {
    background-color: #f4f7f9;
    padding: 20px;
    text-align: center;
}
header img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
header p{
    font-size: 15px;
    color: #101828;
    padding: 10px 0;
}
header h1{
    font-size: 45px;
    color: #101828;
}
header .get {
    padding: 15px 35px;
    color: #ffffff;
    background-color: #efb45b;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 15px;
}
header .sign {
    padding: 15px 35px;
    background-color: #1f4f76;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
}
.head-buttons{
    margin-top: 20px;
}
/*=============================(choose)===================*/
.choose{
    padding: 3rem 0;
    text-align: center;
    background-color: #ffffff;
}
.search{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 40px;
    padding: 1.5rem;
    line-height: 2;
}
.choose h1{
    font-size: 45px;
    color: #101828;
}
.search1 i {
    background: linear-gradient(135deg, rgba(31, 79, 118, 0.15) 0%, rgba(239, 180, 91, 0.2) 100%);
    height: 80px;
    width: 80px;
    padding: 25px;
    border-radius: 50%;
    color: #1f4f76;
    font-size: 30px;
} 
.search1 h2{
    font-size: 27px;
    color: #101828;
    font-weight: bold
}
.search1 p{
    color: #101828;
    font-size: 14px;
}

/*=============================(find)===================*/
.find{
    padding: 2rem 0;
    background-color: #f4f7f9;
    text-align: center;
    line-height: 2;
    color: #101828;
}
.find i{
    color: #1f4f76;
    font-size: 40px;
}
.find button{
    padding: 15px 35px;
    color: #ffffff;
    border: none;
    background-color: #1f4f76;
    border-radius: 5px;
    font-size: 15px;
}
.find h1{
    font-size: 45px;
}
.find p{
    font-size: 15px;
    padding: 10px 0;
}
footer{
    text-align: center;
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 3rem 0;
    line-height: 3;
}
footer img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}